@page "/"

<PageTitle>Cześć</PageTitle>

<h3>Cześć! </h3>

<p>Z góry dziękuję za możliwość udziału w rekrutacjach na Komandosa :)</p>
<p>Poniżej to co udało mi się zrobić: </p>

<ol>
    <li>Logowanie:</li>
    <p>Do logowanie wykorzysałem: Duende IdentityServer </p>
    <br />
    <li>Przeglądanie listy kontaktów:</li>
    <p>Przeglądanie dostępne jest w zakładce Contacts </p>
    <br />
    <li>Szczegóły kontaktu:</li>
    <p>Wszystkie dane z podanej listy zostały dodane. Po zalogowaniu każdy kontakt można edytować lub usuwać </p>
    <ol>
        <li>Hasło zabezpieczane jest za pomocą funkcji Encode </li>
        <li>Do wybory są 3 kategorie, po wybraniu "Work" pojawai sie subcategories gdzie podane są podkategorie </li>
        <li>Do wybrania daty urodzenia można skorzystać z date-pickera </li>
        <br />
    </ol>
     <li>Backend jest wykonany w architekturze REST API</li>
     <br />
     <li>Do wykonanie frontendu wykorzysałem Blazor'a</li>
     <br/>
     <li>Do przechowywania danych wykorzystałem SQL express </li>

</ol>
